.logo {
  height: 10rem;
  display: flex;
  align-items: center;
  margin: 0 4rem;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    margin: 0 2rem;
    height: 7rem;
  }
  img {
    width: 4rem;
    height: 2.5rem;
    object-fit: contain;
    @media screen and (max-width: 768px) {
      width: 3rem;
    }
  }
  .close-button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      font-size: 2rem;
      font-weight: bolder;
    }
  }
}