.general-container {
  position: relative;
  height: 100vh;
  #white-section {
    position: fixed;
    z-index:12;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: white;
    transition: height 2s ease-in-out;
    &.active {
      height: 100vh;
    }
  }
  .background-container {
    background: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.90) , rgba(0, 0, 0, 0.80));
    width: 87vw;
    height: 100%;
    @media screen and (max-width: 768px) {
      width: 100vw;
    }
  }
  .container-main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .instruction {
      color: white;
      p {
        position: absolute;
        bottom: -1rem;
        right: -9rem;
        width: 8rem;
        font-weight: lighter;
      }
    }

    .num-slide {
      margin-top: 1rem;
      height: 5rem;
      display: flex;
      color: white;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      > * {
        margin: 0 1rem;
      }
      > .container-line-progress{
        width: 8rem;
        position: relative;
        > .line-progress {
          width: 25%;
          height: 0.1rem;
          background-color: white;
          position: absolute;
          top: 50%;
          transform:translateY(-50%);
        }
      }
    }

    .full {
      width: 100vw!important;
      height: 100vh!important;
    }
    //card centrale
    .center-card {
        width: clamp(28rem,30%,35rem);
        height: clamp(30rem,70%,50rem);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        transition-property:width,height,top,opacity ;
        transition-duration: 2s,2s,1s,1s;
        transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out;
      .swiper {
        overflow: inherit;
         .swiper-wrapper > div:not(.swiper-slide-active) {
           opacity: 0;
         }
      }
      .card {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .link-img-center{
          @media screen and (max-width: 768px){
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          img {
            width: 50rem;
            object-fit: contain;
            position: relative;
            @media screen and (max-width: 768px){
              max-width: 50rem;
              width: 130vw;
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        max-width: 80%;
        max-height: 50%;
        top: 45%;
      }
    }
    .stop-animation {
      animation-play-state: paused!important;
    }
    .container-line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      flex-direction: column;
      height: 50%;
      width: 100%;
      .text-line {
        display: flex;
        align-items: center;
        height:clamp(10rem,25vh,20rem);
        color: white;
        white-space: nowrap;
        margin: 0 auto;
        overflow: hidden;
        & > span {
          font-weight: 300;
          font-size: clamp(6.97rem, calc(5.34rem + 8.13vw), 11.64rem);
          display: inline-block;
        }
        .animation-line-1 {
          animation: text-line 12s linear,text-line-infinite 12s linear ;
          animation-delay: 0s, 12s;
          animation-iteration-count: 1, infinite;
        }
      }

      .text-line-2 {
        display: flex;
        align-items: center;
        height:clamp(10rem,25vh,30rem);
        color: white;
        white-space: nowrap;
        overflow: hidden;
        & > span {
          font-weight: 300;
          font-size: clamp(6.97rem, calc(5.34rem + 8.13vw), 11.64rem);
          display: inline-block;
        }
        .animation-line-2 {
          animation: text-line-2 12s linear , text-line-2-infinite 12s linear ;
          animation-delay: 0s, 12s;
          animation-iteration-count: 1, infinite;
        }
      }

      .line {
        height: 1px;
        background-color: white;
        width: 80%;
        margin: 0 auto;
      }
    }

    .container-line-mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 3rem;
      margin-top:3.5rem ;
      .line-mobile {
        height: 1px;
        background-color: white;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: 768px){
          margin: -10px auto;
        }
      }
      .text-line-mobile{
        margin: 0 auto;
        > span {
          font-size: 2.2rem;
          color:white;
          font-weight: 300;
        }
      }
    }
  }
}

.mobile,.mobile > *{
  display: none!important;
  @media screen and (max-width: 768px) {
    display: flex!important;
  }
}
.desktop,.desktop > * {
  display: initial;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

@keyframes transition-img-center {
  to{
    top: 50rem;
  }
  from {
    top:0;
  }
}

@keyframes text-line {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-150%, 0);
  }
}

@keyframes text-line-infinite {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-150%, 0);
  }
}

@keyframes text-line-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(150%, 0);
  }
}

@keyframes text-line-2-infinite {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(150%, 0);
  }
}