.overflow-hidden {
  overflow: hidden;
}
.menu-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.90) , rgba(0, 0, 0, 0.80));
  }
  //menù principale
  .right-position {
    width: 100%;
    height: 100vh;
    .menu-main {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 12rem);
      background-color: #DCDBDB;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 768px) {
        width: 100%;
        background: transparent;
      }
      .description-item-menu {
        position: absolute;
        top: 3rem;
        right: 3rem;
        width: 15rem;
        height: 10rem;
        color: white;
        @media screen and (max-width:768px) {
          display: none;
        }
      }
      ul {
        margin-left:clamp(1%,15%,30%) ;
        .menu-item {
          font-size: clamp(5rem,10vw,12rem);
          list-style: none;
          &:nth-child(odd){
            font-weight: 400;
          }
          &:nth-child(even){
            font-weight: 500;
          }
          a {
            text-decoration: none;
            color: black;
            @media screen and (max-width: 768px) {
              color: white;
            }
            &:hover{
              color: white;
              text-decoration-line: line-through;
              text-decoration-thickness: 0.4rem;
            }
          }
        }
      }
    }
  }
  .menu-mobile-text {
    margin-left: clamp(1%,15%,30%);
    color: white;
    font-size: 1.2rem;
    margin-top: 3rem;
    font-family: var(--microsfot-jheng);
    > .line-mobile-menu {
      width: 80%;
      height: 1px;
      margin-top: 1rem;
      background-color: white;
    }
  }
  .logo {
    display: none;
    @media screen and (max-width: 768px){
      display: flex;
    }
  }
  //navbar del /menu
  .navbar-left {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    overflow: hidden;
    width: 12rem;
    background: white;
    margin: 0;
    @media screen and (max-width: 768px) {
      display: none;
    }
    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.90) , rgba(0, 0, 0, 0.84));
      transition: 0s;
      .navbar-left-text p{
        color: white;
        text-decoration: line-through;
        transition: 0.8s;
      }
      .black-logo .logo-background{
        transition: 0.8s;
        background-image: url("../../public/images/HOMEPAGE/Logo.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .black-logo {
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4rem;
      .logo-background {
        background-image: url("../../public/images/HOMEPAGE/logonero.png");
        width: 4rem;
        height: 2.5rem;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .navbar-left-text {
      height: 100%;
      width: 100%;
      p {
        margin: 0;
        font-size: 1.5rem;
        width: 16rem;
        height: 2rem;
        color: black;
        position: absolute;
        top: 30%;
        left: -14%;
        transform: rotate(-90deg) translateX(-50%) translateY(-50%);
      }
    }
  }
  //pagine del menu (About ecc.)
  .background-info-page {
    background: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.90) , rgba(0, 0, 0, 0.80));
  }
  .container-section-menu {
    overflow-y: scroll!important;
    overflow-x:hidden;
    width: calc(100% - 12rem);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (max-width: 768px) {
      background: transparent;
    }
    .navbar-section {
      display: flex;
      justify-content: end;
      .navbar-section-item {
        margin-top: 3rem;
        display: flex;
        justify-content: space-around;
        width: 40%;
        color: white;
        list-style: none;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        li > * {
          text-decoration: none;
          color: white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .section-content {
      color: white;
      width: 80%;
      margin: 8rem auto;
      position: relative;
      .first-section {
        display:flex;
        .content {
          width: 50%;
          .line-menu {
            width: 100%;
            height: 1px;
            margin-top: 1rem;
            background-color: white;
          }
          > h3 {
            font-size: 2.5rem;
            margin-top: 2rem;
          }
          > .content-text {
            margin-top: 3rem;
            line-height: 2.4rem;
            font-size: 1.3rem;
          }
        }
        .img-content {
          width: 50%;
          display: flex;
          justify-content: end;
          align-items: end;
          > img {
            width: 100%;
          }
        }
      }
    }
  }

}

//menu colorato pagina principale
.sidebar-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 13vw;
  min-height: 100vh;
  background: linear-gradient(#BC86AF,#6AB471 , #B23D3D, #4C869E);
  z-index: 99999;
  cursor: pointer;
  &:hover {
    background: linear-gradient(#AB82A1,#699D6E , #943D3D, #446B7C);
  }
  &:hover .circle {
    border: 6px solid white;
    transition: 0.3s;
  }
  .circle {
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 2px solid white;

  }
  @media screen and (max-width: 768px){
    display: none;
  }
}