* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
.container-main-white {
  width: 87vw;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
  @media screen and (max-width: 768px){
    width: 100vw;
  }
  &::-webkit-scrollbar{
    display: none;
  }
  .center-align {
    width: 85%;
    margin: 0 auto;
    @media screen and (max-width: 768px){
      width: 95%;
    }
  }
  .product-container {
    .product-container-description {
      .line-product {
        height: 0.8px;
        background-color: grey;
        position: relative;
        .circle-prototype {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          background-color: #75B3D7;
          position: absolute;
          top: -4rem;
          left: 14rem;
          z-index: 3;
          > p {
            color: white;
          }
        }
        .circle-prototype:hover{
          transform: scale(1.1);
          cursor: pointer;
        }
      }
      .product-subtitle {
        margin: 1rem 0;
        color: grey;
      }
      .product-title{
        font-weight: 400;
        font-size: clamp(2rem,calc(2em + 5vw),9rem);
        letter-spacing: 0.5rem;
        margin: 1rem 0;
        color: #323232;
      }
      .tool-img {
        > img {
          width: 8rem;
          height: 8rem;
          object-fit: contain;
        }
      }
      .img-absolute {
        width: 100rem;
        height: 100rem;
        object-fit: contain;
        position: absolute;
        top: 100%;
        left: 52%;
        transform: translate(-50%,-50%);

      }
      .description-container {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
        .column-6 {
          width: 45%;
          > span {
            font-weight: bold;
          }
          > p {
            margin: 1rem 0;
            font-size: 1.1rem;
            color: #323232;
          }
        }
      }
    }
    .product-section-only-img {
      padding: 0!important;
      height: auto!important;
    }
    .product-section-img {
      height: 100vh;
      background-size: cover;
      background-color: black;
      color: white;
      position: relative;
      .align-the-end {
        width: 80%;
        height: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
        h3 {
          font-size: 2rem;
        }
        .line-80 {
          margin: 1rem 0;
          background-color: white;
          height: 0.8px;
          width: 80%;
        }
        p {
          font-size: 1.3rem;
          font-weight: 400;
          font-family: var(--microsfot-jheng);
        }
      }
    }
    .product-section {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 3;
      flex-wrap: wrap;
      padding: 6rem 0;
      min-height: 100vh;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      //small card horizontal slider
      .slider-card-container {
        width: 80vw;
        margin-top: 15%;
        @media screen and (max-width: 768px){
          width: 95vw;
        }
        .storyboard {
          .card-container {
            height: 50%;
            width: 95%;
            border: 2px solid rgba(81,81,81,1);
            border-radius: 10px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .improvement-opportunites {
          .card-container {
            .card-text {
              margin: 1rem 0;
            }
            .card-improvement {
              width: calc(100% + 3rem);
              height: 13rem;
              padding: 3rem;
              border-radius: 10px;
              background-color: red;
              p {
                color: white;
              }
            }
            .improvement-color-1 {
              background: #FF7474;
            }
            .improvement-color-2 {
              background: #AB77D9;
            }
            .improvement-color-3 {
              background: #49B65A;
            }
            .improvement-color-4 {
              background: #CDB534;
            }
            .improvement-color-5 {
              background: #08CCCC;
            }
          }
        }
      }
      .emphaty-map {
        margin-top: 3rem;
        width: 80%;
        .container-map {
          position: relative;
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: 30rem 30rem;
          grid-row: auto;
          grid-column-gap: 20px;
          grid-row-gap: 20px;
          .avatar-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 15rem;
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(rgba(194, 194, 194, 0.9), rgba(145, 145, 145, 0.72));
            border-radius: 50%;
            img {
              width: 75%;
              height: 75%;
            }
          }
          .square-map {
            background-color:#333;
            padding:20px;
            border-radius:10px;
            color:black;
            .title {
              text-align: center;
            }
            ul {
              list-style: none;
              width: 80%;
              margin: 0 auto;
              li {
                margin: 20% 0;
                text-decoration: none;
                font-size: 1.2rem;
              }
            }
          }
        }
      }
      .journey-map {
        width: 80%;
        margin: 5rem 0;
        .line-circle-container {
          width: 100%;
          display: flex;
          justify-content: center;
          .line-circle {
            width: 100%;
            border: 1.4px dashed grey;
            position: relative;
            .circle-journey-container {
              position: absolute;
              top: 25%;
              transform: translateY(-18%);
              display: flex;
              .journey-circle-text {
                > p {
                  width: 60%;
                  margin-top: 0.5rem;
                  text-transform: uppercase;
                }
                .circle-journey {
                  width: 2rem;
                  height: 2rem;
                  border-radius: 50%;
                  margin: 0 4vw;
                  &:first-child {
                    margin-left: 1vw;
                    margin-right: 4vw;
                  }
                  &:last-child {
                    margin-right: 1vw;
                    margin-left: 4vw;
                  }
                }
              }
              .circle-red {
                background: rgba(255, 116, 116, 1);
              }
              .circle-purple {
                background: rgba(168, 119, 217, 1);
              }
              .circle-green {
                background: rgba(73, 182, 90, 1);
              }
              .circle-yellow {
                background: rgba(205, 181, 52, 1);
              }
              .circle-blu {
                background: rgba(8, 204, 204, 1);
              }
            }
          }
        }
      }
      .product-app {
        position: relative;
        z-index: 3;
        .line-product-100{
          background-color: grey;
        }
        .text-description {
          font-size: 1.3rem;
          font-family: var(--microsfot-jheng);
          margin: 1rem 0;
          font-weight: 400;
        }
        .marks-container {
          .legenda {
            margin-top:3rem;
            .subtitle {
              font-weight: 600;
            }
            span {
              margin-right: 0.8rem;
              img {
                width: 2rem;
              }
            }
          }
          .grid-payment {
            width: 100%;
            margin:4rem 0;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(8,1fr);
            grid-row: auto;
            grid-column-gap: 10%;
            grid-row-gap: 1.5rem;
            .grid-item {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 2rem;
              }
            }
            .box-payment {
              padding: 1.5rem;
              border-radius: 10px;
              background-color: #F1F1F1;
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
              img {
                width: 3.5rem;
                object-fit: contain;
              }
            }
            .box-text {
              padding: 1.5rem;
              border-radius: 10px;
              background-color: #F1F1F1;
            }
          }
        }
        .project-icon {
          display: flex;
          width: 50%;
          justify-content: space-between;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
          .container-square-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
              .square-icon {
                width: 3.6rem;
                height: 3.6rem;
                border-radius: 10px;
                background: linear-gradient(#446DFF 25%, rgba(255,0,199,0.6), rgba(255,75,253,0.5));
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.6rem 0;
                > img {
                  width: 60%;
                }
              }
              small {
                font-size: 0.7rem;
              }
          }
        }
      }
      .img-advantages-bibank {
        width: 100%;
      }
      .list-with-img {
        margin: 8rem 0;
        .item-with-img {
          width: 100%;
          margin: 6rem 0;
          h4 {
            font-size: 2rem;
            .bullet {
              width: 0.8rem;
              height: 0.8rem;
              border-radius: 50%;
              margin: 0.2rem;
              margin-right: 2rem;
              background-color: black;
              display: inline-block;
            }
          }
          p {
            margin-top: 2rem;
            margin-left: 3rem;
            font-size: 1.1rem;
            line-height: 1.8rem;
          }
          img {
            width: 60vw;
            margin-left: 2.3rem;
            margin-top: 2rem;
          }
        }
      }
      .list-with-img-flex {
        .item-with-img-flex {
          width: 100%;
          margin: 6rem 0;
          display: flex;
          .text-flex-container {
            margin-top: 5rem;
            h4 {
              margin-left: 3rem;
              font-size: 2rem;
            }
            p {
              line-height: 1.8rem;
              margin-top: 2rem;
              margin-left: 3rem;
              font-size: 1.1rem;
            }
          }
          img {
            border: 8px solid;
            border-radius: 35px;
            width: 35%;
            margin-top: 2rem;
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.4);
          }
        }
        .item-two-images {
          .text-flex-container {
            margin-top: 5rem;
            h4 {
              font-size: 2rem;
            }
            p {
              line-height: 1.8rem;
              margin-top: 2rem;
              font-size: 1.1rem;
            }
          }

          .img-flex-container {
            display: flex;
            justify-content: space-around;
            img {
              border: 8px solid;
              border-radius: 35px;
              width: 30%;
              margin-top: 4rem;
              box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
      .img-advantages-drones {
        position: absolute;
        right: -20rem;
        top: 10rem;
        z-index: 1;
      }
    }
    .background-digital-wireframe {
      background-color: rgba(240,240,240,0.8);
    }
    .product-section-design-stages {
      height: 150%;
      background:linear-gradient(#121212, #1A1A1A,#2C2C2C) ;
      position: relative;
      z-index: 3;
      color: white;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .text-description {
        margin: 1rem 0;
        font-size: 1.3rem;
        font-family: var(--microsfot-jheng);
        line-height: 1.8rem;
        margin: 1rem 0;
        font-weight: 400;
        width: 70%;
        ul {
          margin-top: 1.5rem;
        }
      }
      .line-product-100{
        background-color: white;
        width: 50%!important;
      }
      .product-container-description {
        margin:10rem auto
      }
      .product-graphic-container {
        width: 100%;
        margin-top: 5rem;
        .product-weeks{
          width: 95%;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(5,1fr);
          gap:4rem;
          .week-square {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            padding: 1.3rem 0.5rem;
            background-color: white;
            border-radius: 10px 10px 10px 10px;
            color: black;
            font-weight: 500;
          }
        }
        .graphic-container {
          width: 100%;
          margin: 0 auto;
          margin-top: 2rem;
          display: grid;
          grid-template-columns: repeat(10,1fr);
          grid-template-rows: repeat(5, 5rem);
          grid-auto-flow: row;
          .column {
            width: 100%;
            grid-column: span 2;
            height: 48rem;
            border-left: 2px dashed white ;
            display: grid;
            grid-template-rows: repeat(4,10rem);
            .column-container {
              width: 150%;
              .first-color-square {
                background: linear-gradient(to left,#6BACFF,rgba(229,99,201,0.7));
              }
              .second-color-square {
                background: linear-gradient(to left,#6B94FF,rgba(206,43,170,0.7));
              }
              .third-color-square {
                background: linear-gradient(to left,rgba(73,204,133,1),rgba(222,159,208,0.7));
              }
              .fourth-color-square {
                background: linear-gradient(to left,rgba(42,89,255,1),rgba(229,130,99,0.7));
              }
              .five-color-square {
                background: linear-gradient(to left,rgba(84,114,131,1),rgba(193,84,170,0.7));
                padding: 1.5rem!important;
              }
              .square {
                position: relative;
                z-index: 3;
                display: flex;
                align-items: center;
                padding: 0.6rem 0.5rem ;
                border-radius: 150px;
                .circle {
                  justify-self: start;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 3.5rem;
                  height: 3.5rem;
                  border-radius: 50%;
                  background-color: white;
                }
                p {
                  font-size: 1.1rem;
                  margin-left: 20%;
                  font-weight: 600;
                }
              }
              .subsquare {
                margin-top: 0.5rem;
                position: relative;
                z-index: 3;
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                padding: 0.6rem 0.5rem ;
                background: #EAEAEA;
                border-radius: 150px;
              }
            }
          }
          &:last-child {
            height: 48rem;
            border-right: 2px dashed white ;
          }
        }
      }
      .slider-card-container {
        width: 100%;
        .swiper {
          overflow: unset!important;
        }
        .card-container {
          //grey slider
          .card-color {
            background: linear-gradient(rgba(197, 215, 252,0.4),rgba(81,140,255,0.1));
          }
          .main-card {
            width: 93%;
            height: 25rem;
            border-radius: 25px;
            position: relative;
            .avatar {
              position: absolute;
              left: 50%;
              top:-5rem;
              transform: translateX(-50%);
              display: flex;
              justify-content: center;
              align-items: center;
              width: 9rem;
              height: 9rem;
              background: rgba(239,239,239,0.4);
              z-index: 5;
              border-radius: 25px;
              > img {
                width: 100%;
              }
            }
            .main-card-text {
              padding: 5rem 3rem;
              line-height: 1.6rem;
              .main-card-title {
                text-align: center;
                font-size: 2rem;
              }
              .main-card-subtitle {
                text-align: center;
                font-weight: bold;
                margin-top: 0.3rem;
                margin-bottom: 1.5rem;
              }
            }
          }
          .small-card {
            width: 93%;
            display: flex;
            padding: 2rem;
            border-radius: 20px;
            position: relative;
            margin: 4rem 0;
            justify-content: space-around;
            align-items: center;
            .small-card-title {
              color: black;
              background-color: #D9D9D9;
              position: absolute;
              left: 50%;
              top:-1.3rem;
              transform: translateX(-50%);
              padding: 0.5rem 1.5rem;
              border-radius: 10px;
              font-weight: bold;
            }
            .icon {
              font-size: 2.8rem;
            }
            .card-text {
              width: 80%;
              line-height: 1.6rem;
            }
          }
        }
      }
    }
  }
}
.arrow-up {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: fixed;
  background: linear-gradient(rgba(217,217,217,0),rgba(192,192,192,0.72),rgba(226,226,226,0.8),rgba(217,217,217,1));
  bottom: 2rem;
  right: 14%;
  font-size: 3.4rem;
  display: flex;
  justify-content: center;
  z-index: 1000;
  opacity: 0.75;
  filter: drop-shadow(5px 8px 8px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  user-select: none;
  @media screen and (max-width: 768px){
    right: 2%;
  }
  > p {
    margin-top: 0.4rem;
  }
}
.white-space-product {
  height: 30rem;
  width: 100%;
}
.small-subtitle {
  font-size: 1.1rem;
}
.title-section {
  font-size: 3rem;
}
.line-product-100{
  margin: 1rem 0;
  height: 0.8px;
  width: 85%;
}